body {
    background-color: #a21d1d;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 28px;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    color: #007BFF;
}
